node_modules
.DS_Store
dist
lerna-debug.log
tsconfig.tsbuildinfo
coverage
.env
package-lock.json
tests/assets/keystore/
tests/assets/wallet.toml
tests/assets/evmlc.toml
tests/assets/config.toml
yarn-error.log
./scripts
bin

__tests__/datadir
test.ts
wordlist.json

badger_db*
e2e/datadir/babble
e2e/datadir/eth
e2e/datadir/monetd.toml